<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.svg" type="image/svg+xml">
    <title>Spyfall</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#333333">
  </head>
  <body>

    <div class="container">


      <input type="text" id="nameinput" placeholder="name here.."></input>
      <div id="top-buttons">
        <button id="new-player">New Player</button>
        <button id="start-game">Start Game</button>
      </div>


      <div id="players">
        <h1>Players</h1>
        <div v-for='player in players' class="player" v-on:click="showhide">
          <p class="p-name">{{player.name}}</p>
          <p class="p-loc">Location: <span class="p-loc-var">{{player.location}}</span></p>
          <p class="p-role">Role: <span class="p-role-var">{{player.role}}</span></p>
        </div>
      </div>

      <div id="clock">
        <h1>Timer</h1>
        <p>{{minutes}} : {{seconds}}</p>
      </div>

      <div id="locations">
        <h1>Locations</h1>
        <p v-for="location in locations" class="location">{{location.location}}</p>
      </div>

    </div>
  </body>
</html>
