@font-face {
  font-family: hero;
  src: url("Hero/HeroLight-Regular.otf");
  font-display: swap;
}

.p-loc-var, .p-role-var{
  visibility: hidden;
}

#clock{
  text-align: center;
  background: #fff;
  border: .3rem solid #fff;
  border-radius: .5rem;
  margin: auto;
}
#clock p{
  font-size: 15em;
  margin: 10px;
  background: linear-gradient(to bottom, #333 50%, #222 50%);
  display: inline-block;
  color: #fff;

  padding: .5rem 1rem;
  text-align: center;
  position: relative;
  min-width: 80%;
  font-variant-numeric: tabular-nums;
}

.player{
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
  max-width: none;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 30px !important;
}
.hasshown{
  background-color: #355;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
}
body{
  color: #333;
  font-family: 'hero', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#top-buttons{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
}

#new-player{
  grid-row: 2;
  grid-column: 1;
}
#start-game{
  grid-row: 2;
  grid-column: 2;
}
h1{
  text-align: center;
}
.location{
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}






input[type=text], input[type="number"], textarea, select, input[type="email"], input[type="date"]{
  outline: none;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  background-size: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  transition: all 0.4s;

  height: 15rem !important;
  font-size: 4em !important;
  width: 100% !important;
  max-width: none !important;
}
textarea{
  height: 200px;
  max-width: 600px;
}
input[type=text]:focus, input[type="number"]:focus, textarea:focus, input[type="email"]:focus, input[type="date"]:focus{
  border:2px solid #333;
  background-color: #eee;
  box-shadow: 0px 1px #999;
}
input[type=text]:hover, input[type="number"]:hover, textarea:hover, input[type="email"]:hover, input[type="date"]:hover{
  background-color: #eee;
  box-shadow: 0px 1px #999;
}
input[type=submit]{
  width: 150px;
  height: 30px;
  line-height: 0em;
  background-color: #e8e8e8;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  color: #333;
  margin-bottom: 0px;
}
input[type=submit]:hover{
  border: 1px solid #999;
  background: #f8f8f8
}

button{
  background-color: #333;
  color: white;
  border-radius: 5px;
  height: 50px;
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 12px;
  width: 100%;
  height: 10rem !important;
  font-size: 4em !important;
  max-width: none !important;
}

@media (orientation: portrait){
  .player{
    max-width: none;
  }
  .container{
    padding-bottom: 80px;
  }
  input, textarea, select {
    height: 15rem !important;
    font-size: 4em !important;
    width: 100% !important;
    max-width: none !important;
  }
  button{
    height: 10rem !important;
    font-size: 4em !important;
    max-width: none !important;
  }
}
